<div data-room-id="{{room.id}}" id="chatroom-panel" class="panel panel-info">
	<header class="panel-heading">
		<h3 class="panel-title">
			{{#if room.roomname}}
				{{room.roomname}}
			{{else}}
				Enter a room to continue...
			{{/if}}
		</h3>
	</header>
	<div id="messages-block-wrapper">
		<section id="messages-block" class="panel-body">
			{{#each messages as |message|}}
				{{>message message=message}}
			{{/each}}
		</section>
	</div>
</div>
