<div class="form form-group">
  <form id="messageForm">
    <input type="text" name="message" class="form-control"/>
    <button>Send Message</button>
  </form>
</div>

<div id="messages{{room}}" class="container">
  {{#each messages as |message|}}
    <div class="message row">
      <div class="col-xs-12">
        <p>
        <span>{{message.author}}: </span>
          {{message.body}}
        </p>
      </div>
    </div>
  {{/each}}
</div>
