<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script type="text/javascript" src="/javascripts/websockets.js"></script>
  <script type="text/javascript" src="/javascripts/styles.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

  {{{body}}}
</body>
</html>