<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SUPER CHAT</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/index.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    
    <!--Font Awesome-->
    <link rel="stylesheet" href="../.././font-awesome-4.7.0/css/font-awesome.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>

    {{{body}}}

    <script>
        $(document).ready(function () {

            let socket = io.connect('http://localhost:3000');
            let profile = {};

            $("#submit-post").on("click", () => {

                profile.body = $("#messageInput").val();
                profile.author = getCookie('user');

                $("#messageInput").val('');
                
                socket.emit('addMsg', profile);

            });

            $("#submit-room").on("click", () => {

                let roomName = $("#newRoom").val();

                $("#newRoom").val('');
                
                 socket.emit('addRoom', roomName);

            });
            

            socket.on('updateClient', (profile) => {

                $("#room ul").append(`<li>${profile.body} - By ${profile.author}</li>`); //do this on socket listen so updates real time across all clients

            });

            socket.on('updateRoomList', (roomName) => {

                $("#chat-room-list ul").append(`<li>${roomName}</li>`); //do this on socket listen so updates real time across all clients
                
            });

        });

        function getCookie(user) {
            let match = document.cookie.match(new RegExp(user + '=([^;]+)'));
            if (match) return match[1];
        }

    </script>
</body>

</html>