<!DOCTYPE html>
<html lang="en">
<head>
  <title>Super Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Anton|Timmana" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>


{{{body}}}

<script>
let socket = io.connect("http://localhost:3000");

$('#myForm').submit(function(e) {
  e.preventDefault();
  let comment = $("#comment").val();
  socket.emit("submit", comment);
});

socket.on("messages", object => {
  let $th =$("<th>").text(object.user);
  let $td = $("<td>").text(object.userMessage);
  $("tbody").eq(1).append("<tr>").append($th).append("<tr>").append($td);
});

</script>

</html>
