<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Super Chat</title>
	</head>
<body>

	{{{ body }}}

	<script src="/js/socket.io.js"></script>
	<script src="/js/jquery.js"></script>
	<script>
		var socket = io.connect('http://localhost:3000')
	</script>

</body>
</html>