<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<title>Chat Room</title>
</head>
<body>
{{{body}}}
</body>
</html>
