<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Project Superchat</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="/socket.io/socket.io.js"></script>

</head>

<body>

  <h1>Project Superchat</h1>

  {{{body}}}

  <script>
    var socket = io.connect('http://localhost:3000')

    socket.on('update' (data) => {
      console.log('socket.on ran', data);
      location.reload(true)
    })
  </script>
</body>

</html>
