<h1 class="roomName">{{roomName}}</h1>
<div class="storedName">{{username}}</div>

=============================
<div id="postChatMessage">
	<textarea class="message"></textarea>
	<button id="submitPost">Post Chat</button>
</div>
=============================
<ul id="msgList" style="list-style-type:none" class="messages">
</ul>

<p id="PostedMessages"> Chat Message here </p>

<script src="../js/chat_room.js"></script>
