Welcome
<div class="storedName">{{username}}</div>

=============================
<div id="postChatMessage">
	<textarea class="message"></textarea>
	<button id="submitPost">Post Chat</button>
</div>
=============================
<div class="messages">
</div>

<p id="PostedMessages"> Chat Message here </p>

<script src="js/chat_room.js"></script>
