Welcome
<div class="storedName">{{username}}</div>

=============================
<div id="MakeChatRoom">
	<input type="text" class="roomName" />
	<button id="createRoom">Create Room</button>
</div>
=============================
<div id="ChatRoomList" style="list-style-type:none" >
</div>


<script src="js/lobby.js"></script>
