Welcome
<div class="storedName">{{username}}</div>

=============================
<div id="MakeChatRoom">
	<textarea class="roomName"></textarea>
	<button id="createRoom">Create Room</button>
</div>
=============================
<ul id="ChatRoomList" style="list-style-type:none" >
</ul>


<script src="js/chat_room.js"></script>
