<form id="newRoom" class="form-inline">
  <div class="form-group">
    <label for="chatroomID">New Chat Room</label>
    <input type="text" class="form-control" id="chatroomID" name="chatroomID">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<div class="row">
  <div class="col-xs-4">
    <table id="rooms" class="table">
      <thead>
        <tr>
          <th>Chatrooms</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

  </div>
  <div class="col-xs-4">
    <table id="messages" class="table">
      <thead>
        <tr>
          <th>Messages</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="col-xs-4">
    <form id="newMessage">
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message">
        </textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>


<!--Bad code don't do this!-->
<input class="hidden" id="currentChatroom" value="default">


















<script type="text/javascript" src="/javascripts/sockets.js"></script>
