{{>navbar user=user}}

<div class="jumbotron">
  <div class="container">
    <h1>SUPER CHAT</h1>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Chat rooms</h2>
      <ul class="list-group">
    {{#each roomsList as |room|}}
      <li class="list-group-item">
        <div class="{{room.name}}">
          <h3 class='room'>{{room.name}}</h3>
          <p>{{room.numUsers}} members</p>
        </div>
      </li>
    {{/each}}
      </ul>
    </div>
    <div class="col-md-4">
      <div id='roommessages' class='hidden'></div>
    </div>
    <div class="col-md-4">
      <div class="hidden" id="message-form">
        <form>
          <div class="form-group">
            <label for="new-message">NEW POST</label>
            <textarea type="text" class="form-control" id="new-message" placeholder="Type your message"></textarea>
          </div>
          <button type="submit" id="submit-message" class="btn btn-default">Send</button>
        </form>
      </div>
    </div>
  </div>
</div>

