<span id="room-id">{{room}}</span>
<div class="row">
  <div class="three columns chat-container">
    <h3>Rooms</h3>
    <div id="rooms">
    </div>
  </div>
  <div class="six columns chat-container">
    <h3>"{{room}}" Room: Messages</h3>
    <div id="chat-messages">
    </div>
  </div>
  <div class="three columns form-container">
    <form action="/chatroom/{{room}}/post" method="POST">
      <h3>New Message</h3>
      <textarea class="u-full-width" placeholder="Write a message" name="message"></textarea>
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</div>