Chat Here
<div class="storedName"> {{username}}</div>

<p id="PostedMessages"> Chat Message here </p>
<div id="postChatMessage">
	<textarea class="message"></textarea>
	<button id="submitPost">Post Chat</button>
</div>

<script src="js/chat_room.js"></script>
