<div class="row">
  <div class="col-md">

    <div class="chat rooms">
      <div class="window-title">
        CHAT ROOMS
      </div>
      <div class="clear"></div>
      <div class="chat-row">
        <h5>Create New Room</h5>
        <p>test</p>
      </div>

    </div>
  </div>
  <div class="col">
    <div class="chat room">
      <div class="window-title">
        TITLE
      </div>
      <div class="clear"></div>
      <div class="chat-row">

      </div>

    </div>
    1 of 3
  </div>
  <div class="col">
    <div class="chat window">
      <div class="window-title">
        NEW POST
      </div>
      <div class="clear"></div>
      <div class="message-window">

      </div>
    </div>
    1 of 3
  </div>
</div>
