<div class="row">
  <div class="six columns chat-container">
    <h3>Rooms</h3>
    <div id="rooms">
    </div>
  </div>
  <div class="six columns form-container">
    <form action="/createroom" method="POST">
      <h3>Create a New Room</h3>
      <label for="newroom">New Room Name</label>
      <input class="u-full-width" type="text" placeholder="User Name" id="newroom" name="newroom">
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</div>