<div class='container'>
  <div class='row'>
    <h3>{{userName}}</h3>
    <form action="/logout" method="post">
      <input type="submit" value="Logout">
    </form>
  </div>



  <div class='row'>

  <div class='col-sm-3 chats'>
    <div class='row'></div>
    <div class='row'></div>
  </div>

<div class='col-sm-6 chats' id='messagesColumn'>
  <div class='row'>
    <div class='col-sm-6' id="bodyColumn">
      {{#each messages as |message|}}
      <div class='row'>{{message.body}}</div>
      {{/each}}
    </div>
    <div class='col-sm-6' id="postedByColumn">
      {{#each messages as |message|}}
      <div class='row'>{{message.postedBy}}</div>
      {{/each}}
    </div>
  </div>
</div>

  <div class='col-sm-3 chats' id='newPost'>
    <form id='message-form' action="/" method="post">
      <label>Write Message </label><input id='message-input' type="text" name="newMessage">
      <input type="hidden" name="userName" value="{{userName}}" id="userName">
      <input type="submit">
    </form>
  </div>

</div>
