<div class="container-fluid">
<div class="row">
<h1 class="col">Superchat</h1>
</div>
{{!-- create a room for each roomName --}}
   {{#each results as |result|}}
      <div class="room row justify-content-center">
         <div class="col-12">
            <h2>{{result.room}}</h2>
         </div>
      {{#each result.messages as |message|}}
         <div class="message col-12">
            <div class="row justify-content-center">
               {{message.message}}
            </div>
         </div>
         <div class="user row justify-content-center">
            <div class="col-12">
            {{message.user}}
            </div>
         </div>
      {{/each}}
      </div>
   {{/each}}
</div>

<div class="new-post">
   <form action="post">
      <textarea id="new-post"></textarea>
      <button type="submit">Send</button>
   </form>
</div>