<div class='container'>

  <div class='row'>
    <header>Super Chat</header>
  </div>

  <div class='row'>
    <div class='col-sm-3 col-sm-offset-1'>
      {{#each messages as |message|}}
      <div class='row'>{{message.body}}</div>
      {{/each}}
    </div>
    <div class='col-sm-3 col-sm-offset-1'>
      {{#each messages as |message|}}
      <div class='row'>{{message.postedBy}}</div>
      {{/each}}
    </div>
  </div>

  <div class="row">
    <form action="/" method="post">
      <label>Write Message </label><input type="text" name="newMessage">
      <input type="submit">
    </form>
  </div>

</div>
