<div class="container">
<div class = "row">
  <div class="darkBG col-sm-6">test</div>
  <div class="darkerBG col-sm-6">test2</div>
</div>
</div>

<script>
   const socket = io.connect('http://localhost:3000');

   socket.on("loadMessages", (message) => {
     console.log(JSON.stringify(message));
   })
</script>
