<nav class="navbar navbar-dark bg-dark">
	<h1 class='white'>SuperChat!</h1>
</nav>
<div class='container-fluid'>
	<div class='row'>
		<div class='box thread col-md-3'>
			<h5 class = "side-header white">Hello</h4>
			<p>Is this working?o;alwke jhga;ls kdjga;lw skhejdg;al kshjdlkjg fa;lkshj g;lkahjas d;lkdgja; wlwkrshjge; lakhjseg ;lask jdg;l</p>
		</div>
		<div class='box post col-md-3'>
			<h5 class="side-header white">This is the post box</h4>
			<p>Is it working</p>
		</div>
	</div>
	<script>
const socket = io.connect('http://localhost:3000');

	socket.on("loadMessages", (message) => {
	console.log(JSON.stringify(message));
})
	</script>
