<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chat room</title>
    <script src='/socket.io/socket.io.js'></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <form id="messageForm">
      <input type="text" name="message"/>
      <button>Send Message</button>
    </form>

    <div id="allMessages">
      {{#each messages as |message|}}
        <div class=message>
          <p>
            {{message.body}}
          </p>
          <p>
            {{message.author}}
          </p>
        </div>
      {{/each}}
    </div>


      <script>
        var socket = io.connect('http://localhost:3000')

        $("#messageForm").on("submit", (e) => {
          e.preventDefault();
          alert("This worked!");
          var data = {}

          data.body = $("input[name='message']").val();
          data.author = "Anonymous";
          data.room = "main-room";

          socket.emit("newMessage", data);
        });

        socket.on("updateMessages", (data) => {
          $("#allMessages").prepend($(`<div class=message><p>${data.body}</p><p>${data.author}</p></div>`));
        });


      </script>
  </body>
</html>
