<div class="container-fluid box">
  <div class="row">
    <h2>SUEPERCHAT // welcome "{{username}}"</h2>
    <h1>{{room}} room</h1>

  </div>
</div>

<form class="logout" action="/logout" method="post">
  <button type="submit" name="logout">Log out</button>
</form>

<ul id="users">
  {{#each users as |user|}}
    <li>{{user}}</li>
    <li>dummy user</li>
  {{/each}}
</ul>
<ul id="messages"></ul>
<form class="form" action="">
  <input class="inp" id="m" autocomplete="off" /><button>Send</button>
</form>
