<div class="all-content">
    <div class="chat-header">
        <div class="content">
            <div>
                <h1>SUPER CHAT</h1>
            </div>
            <div>
                <form action="/logout" method="post">
                    <button name="logout" value="logout">Logout</button>
                </form>
            </div>
        </div>
    </div>

    <div class="chat-body">
        <div class="chat-rooms">
            {{!-- {{#each chatRoom}} --}}
            <div id="room" class="room">
                <h3 class="message-header">test</h3>
                <ul id="message-content">
                    {{#each messagesArr}}
                    <li>{{this.body}} - By {{this.author}}</li>
                    {{/each}}
                </ul>
            </div>

            {{!-- {{/each}} --}}
        </div>
    </div>

    <div class="chat-form">
        <div class="inputs">
            <input placeholder="Enter message here" name="messageInput" id="messageInput">
            <button id="submit">Post</button>
        </div>
    </div>

</div>