<main class="container">
	<section class="row">
		<div id="message-container" class="col-sm-9">
			<div class="panel panel-info">
				<header class="panel-heading">
					<h3 class="panel-title">Current Room Name</h3>
				</header>
				<section class="panel-body"></section>
			</div>
		</div>

		<aside id="side-nav" class="col-sm-3">
			<div id="room-list" class="panel panel-primary">
				<header class="panel-heading">
					<h3 class="panel-title">Rooms</h3>

				</header>
				


				<section class="panel-body">
					{{>rooms}}
				</section>
			</div>

			<div id="user-list" class="panel panel-success">
				<header class="panel-heading">
					<h3 class="panel-title">Users</h3>
				</header>

				<section class="panel-body">
					{{>users}}
				</section>
			</div>
		</aside>
	</section>
</main>





