<nav class="navbar navbar-dark bg-dark">
	<h1 class='white'>SuperChat!</h1>
  <a id="login" href="/users/login">Login</a>
</nav>
<div class='container-fluid'>
	<div class='row'>
		<div class='box thread col-md-3'>
			<h5 class = "side-header white">Hello</h4>
			<div class='' id='message-box'></div>
		</div>
		<div class='box post col-md-3'>
			<h5 class="side-header white">This is the post box</h4>
			<div class='' id='submit-box'>
				<textarea id='post-box'></textarea><br>
				<button id='submit-button'>Submit Post</button>
			</div>
		</div>
	</div>
	<script>
const socket = io.connect('http://localhost:3000');

	socket.on("loadMessages", (message) => {
	//let keys = Object.keys(message['1']);
	htmlVar = '';
	for(key in message['1']){
		htmlVar = `<h6>Author: ${message['1'][key]['author']}</h6><p>${message['1'][key]['body']}</p><hr>` + htmlVar;
		console.log(key);
	}
	$('#message-box').html(htmlVar);
})
$('#submit-button').click(()=>{
	newMessage = {
		body: $('#post-box')[0].value,
		author: 'Gene',
		room: '1'
	}
	$('#post-box')[0].value = '';
	socket.emit('newMessage', newMessage);
});

socket.on("addMessage", (message) => {
    
	htmlVar = `<h6>Author: ${message['author']}</h6><p>${message['body']}</p><hr>` + $('#message-box').html();

	$('#message-box').html(htmlVar);
})


	</script>
