<header id="userStuff" class="row">
  <section class="col-xs-12">
    <h3></h3>
    <button>Log Out</button>
  </section>
</header>
<section id="login" class="row">
  <form class="col-md-4">
    <section class="form-group">
      <label for="username">Username:</label>
      <input type="text">
    </section>
    <button type="button">Log In</button>
  </form>
</section>
<section id="rooms" class="row">

</section>
