<h1>SUPER CHAT!!!</h1>

<form action="/update" method="post">
  <label for="newPost">NEW POST</label><br>
  <textarea name="newPost" ></textarea><br>
  <button class="btn btn-primary">Send</button>
</form>