

<div class="row">

  <div class="col-xs-3">
    <div>
      {{#each messages as |message|}}
      Text:
      {{message.body}}
      Username:
      {{message.username}}
      {{message.time}}
      <br>
      {{/each}}
    </div>
  </div>

<div class="col-xs-3">
  <form action="/update" method="post">
    <label for="newPost">NEW POST</label><br>
    <textarea name="newPost" ></textarea><br>
    <button class="btn btn-primary">Send</button>
  </form>
</div>




</div>