
<body>

<h3 id="userNav" style="color: black">Not signed in</h3>
<button type="submit" id="userLogOut" class="btn btn-default hidden">Sign Out</button>

<div class="container" id="signUpContainer">
  <div class="row">
    <div class="col-xs-6 col-md-3" id="bordered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
              <input type="text" class="form-control" id="newUser" name="username" placeholder="Enter username">
            </div>
            <button type="submit" id="userSubmit" class="btn btn-default">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- List of Rooms -->
<div class="container verifiedUser hidden">
      <div class="row">
        <div class="col-xs-6 col-md-3" id="bordered">
          <div class="panel panel-default" id="overflowEnabled">
            <div class="panel-heading">
              <h3 class="panel-title">List of Chat Rooms</h3>
            </div>
              <div class="panel-body" id="firstChatroom">
                <h4>Cat Room</h4>
                <p># of members</p>
                <hr>
                {{#each roomNames as |room|}}
                  <h4>{{room}}</h4>
                  <!-- <p>{{room.members}}</p> -->
                  <hr>
                {{/each}}
              </div>
          </div>
        </div>
      </div>
    </div>



<!-- Chat Rooms -->
<div class="container verifiedUser hidden">
      <div class="row">
        <div class="col-xs-6 col-md-3" id="bordered">
          <div class="panel panel-default" id="overflowEnabled">
            <div class="panel-heading">
              <h3 class="panel-title">Cats</h3>
            </div>
              <div class="panel-body" id="firstChatroom">
                {{#each messageList as |message|}}
                  <h4>{{message.username}}</h4>
                  <p>{{message.messageBody}}</p>
                  <hr>
                {{/each}}
              </div>
          </div>
        </div>
      </div>
    </div>

<!-- Posting Form -->
    <div class="container verifiedUser hidden">
          <div class="row">
            <div class="col-xs-6 col-md-3" id="bordered">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Cats</h3>
                </div>
                  <div class="panel-body">
                        <div class="form-group">
                          <input type="text" class="form-control" id="chatMessage" name="message" placeholder="Chat here">
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-default">Submit</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

</body>

<script>

var socket = io.connect('http://localhost:3000');

  socket.on('newMessage', function(message, user) {
    $("#firstChatroom").append(`<h4>${user}</h4><p>${message}</p><hr>`);
  })

  socket.on('userAccepted', function(username) {
    $("#userNav").html(username);
    $("#userLogOut").toggleClass('hidden');
    $("#signUpContainer").toggleClass('hidden');
    $(".verifiedUser").toggleClass('hidden');
  })

  socket.on('userDenied', function(username) {
    $("#userNav").html(username+ " is already taken.");
  })

  $("#submitBtn").click(function() {
    let newMessage = $("#chatMessage").val();
    $("#chatMessage").val("");
    // let user = $("#userNav").html();
    //
    // $("#firstChatroom").append(`<h4>${user}</h4><p>${newMessage}</p><hr>`)
    //append html for username, message body, and a break


    socket.emit('postMessage', newMessage);
  })

  $("#userLogOut").click(function() {
    var currentUser = $("#userNav").html();
    $("#userNav").html("Not signed in.");
    $("#userLogOut").toggleClass('hidden');
    $("#signUpContainer").toggleClass('hidden');
    $(".verifiedUser").toggleClass('hidden');
    socket.emit('userLoggedOut', currentUser);
  })
  $("#userSubmit").click(function() {
    let newUser = $("#newUser").val();
    $("#newUser").val("");
    socket.emit('signUp', newUser);
  })

</script>
</html>
