<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chat room</title>
    <script src='/socket.io/socket.io.js'></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>

    <h1>Welcome {{user}}!</h1>
    <form method=post action='/logout'>
      <button>log out</button>
    </form>

    <div id="rooms">
      {{#each rooms as |room|}}
        <div class='room' id={{room}}>
          <h3>{{room}}</h3>
        </div>
      {{/each}}


      <form id='create-room'>
        <input id='create-room-form' type=text />
        <button>Create Room</button>
      </form>
    </div>

    <div id="messageContainer">
    </div>

<script src="/handlebars/handlebars.runtime.js"></script>
<script src="./javascripts/message_form_compiled.js"></script>
<script src='./javascripts/script.js'>

</script>
</body>
</html>
