<header id="userStuff" class="row">
  <section class="col-sm-6 col-md-4">
    <h3></h3>
    <button type="button" class="btn btn-default">Log Out</button>
  </section>
</header>
<section id="login" class="row">
  <form class="col-sm-6 col-md-4">
    <section class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control">
    </section>
    <button type="button" class="btn btn-default">Log In</button>
  </form>
</section>
<section id="rooms" class="row">

</section>
