<div class="all-content">
    <div class="chat-header">
        <div class="content">
            <h1>SUPER CHAT</h1>
        </div>
    </div>

    <div class="chat-body">
        <div class="chat-rooms">
            {{!-- {{each chatRoom}} --}}
                <div class="room">
                    <h3>@key</h3>
                    {{!-- {{each chatRoom.messages}} --}}
                    <ul>
                        {{!-- <li>{{chatRoom.messages.msgs}}</li> --}}
                    </ul>
                    {{!-- {{/each}} --}}
                </div>

            {{!-- {{/each}} --}}
        </div>
    </div>



    </div>
</div>