<body>

<div class="container" id="signUpContainer">
  <div class="row">
    <div class="col-xs-6 col-md-3" id="bordered">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sign Up</h3>
        </div>
        <div class="panel-body">
          <!-- <form> -->
            <div class="form-group">
              <input type="text" class="form-control" id="newUser" name="username" placeholder="Enter username">
            </div>
            <button type="submit" id="userSubmit" class="btn btn-default">Sign Up</button>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Chat Room -->
<div class="container verifiedUser hidden">
      <div class="row">
        <div class="col-xs-6 col-md-3" id="bordered">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Cats</h3>
            </div>
              <div class="panel-body">
                {{#each messageList as |message|}}
                  <h4>{{message.username}}</h4>
                  <p>{{message.messageBody}}</p>
                  <hr>
                {{/each}}
                <hr>
              </div>
          </div>
        </div>
      </div>
    </div>

<!-- Posting Form -->
    <div class="container verifiedUser hidden">
          <div class="row">
            <div class="col-xs-6 col-md-3" id="bordered">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Cats</h3>
                </div>
                  <div class="panel-body">
                    <!-- <form> -->
                        <div class="form-group">
                          <input type="text" class="form-control" id="chatMessage" name="message" placeholder="Chat here">
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-default">Submit</button>
                      <!-- </form> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container" id="testArea">
          <h4> testing</h4>
        </div> -->
</body>

<script>

// $( document ).ready() {
//   $(".verifiedUser").hide();
// }
var socket = io.connect('http://localhost:3000');

// socket.on('new message', function(count, uniqueID) {
//   $('#' + uniqueID).html(count);
// });

  // socket.on('new count', function(count) {
  //   $("#count").html(count);
  // })

  socket.on('userAccepted', function() {
    // $("#testArea").html("it worked");
    // console.log("inside userAccepted ");
    $("#signUpContainer").hide();
    $(".verifiedUser").toggleClass('hidden');
  })

  $("#submitBtn").click(function() {
    let newMessage = $("#chatMessage").val();
    $("#chatMessage").val("");
    socket.emit('postMessage', newMessage);
  })

  $("#userSubmit").click(function() {
    let newUser = $("#newUser").val();
    $("#newUser").val("");
    // console.log("before socket.emit sigup ", newUser);
    socket.emit('signUp', newUser);
  })



</script>
</html>
