<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-3 mt-1 mx-1 outter-container">
      <h1 class="roomTitle">CATS</h1>
      <h3>Erin</h3>
      <p>HelloWorld</p>
      <hr>
    </div>
    <div class="col-sm-3 mt-1 mx-1 outter-container">
      <h1 class="roomTitle">test2</h1>
      <form action="" method="get" class="text-center">
        <textarea rows="5"></textarea>
        <button class="btn btn-default btn-success submit-button" type="submit">Submit</button>
      </form>
    </div>
    <div class="col-sm-3 mt-1 mx-1 outter-container" >
      <h1 class="roomTitle">test3</h1>
    </div>
  </div>
</div>
