<div class="all-content">
    <div class="chat-header">
        <div class="content">
            <div>
                <h1>SUPER CHAT</h1>
            </div>
            <div>
                <form action="/logout" method="post">
                    <button name="logout" value="logout">Logout</button>
                </form>
            </div>
        </div>
    </div>
    
    <div id="chat-room-list">
        <div class="radio-group">
            {{#each rooms}}
                <div class="radio" data-value="{{this}}">{{this}}</div>
            {{/each}}
        </div>
    </div>

    <!--On click from the above div, show the bottom piece of html with all paramaters put in via JS-->
    <div id="chat-body">
    </div>

    <div class="chat-form">
        <div class="inputs">
            <input placeholder="Enter message here" name="messageInput" id="messageInput">
            <button id="submit-post">Post</button>
        </div>
    </div>

    <div class="room-form">
        <div class="inputs">
            <input placeholder="Create New Room" name="newRoom" id="newRoom">
            <button id="submit-room">Creat New Room</button>
        </div>
    </div>

</div>