<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>chat room</title>
    <script src='/socket.io/socket.io.js'></script>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>

    <h1>Welcome {{user}}!</h1>
    <form method=post action='/logout'>
      <button>log out</button>
    </form>

    <div id="rooms">
      {{#each rooms as |room|}}
        <div class='rooms' id={{room}}>
          <h3>{{room}}</h3>
        </div>
      {{/each}}


      <form id='create-room'>
        <input id='create-room-form' type=text />
        <button>Create Room</button>
      </form>

    </div>






<script>
  var socket = io.connect("http://localhost:3030")

  $("#messageForm").on("submit", (e) => {
    e.preventDefault();
    var data = {}
    data.body = $("input[name='message']").val();
    data.author = document.cookie.replace(/(?:(?:^|.*;\s*)user\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    data.room = "main-room";
    socket.emit("newMessage", data);
  });

  $("#create-room").on("submit", (e) => {
    e.preventDefault();
    let data = $("#create-room-form").val();
    socket.emit("newRoom", data);
  });

  $('.rooms').on('click', (e)=> {
    let roomName = $(this).attr('id');
    socket.emit('showRoom', roomName)
  })

  socket.on("updateMessages", (data) => {
    $("#allMessages").prepend($(`<div class='message row'><div class='col-xs-12'><p>${data.body}</p><p>${data.author}</p></div></div>`));
  });

  socket.on("updateRooms", (data) => {
    $("#rooms").prepend($(`<div class='room' id=${data}><h3>${data}</h3></div>`));
  });




</script>
  </body>
</html>
