<h1>SUPER CHAT</h1>
<header>
	<form>
		<div class="form-group">
			<label for="message-input" ></label>
			<input class="form-control" id="message-input">
		</div>

		<button class="btn btn-default">Submit</button>
	</form>
</header>

<main class="container">
	<div id="message-container">
		
	</div>
</main>

{{!-- <ul>
	{{#each rooms as |room|}}
		<li>
			{{room.name}}
		</li>
	{{/each}}
</ul>
<ul>
	{{#each users as |user|}}
		<li>
			{{user.username}}
		</li>
	{{/each}}
</ul>
 --}}