
<div class="container">
  <div id="header-bar">
      <h1 id="header-text">SuperChat</h1>
  </div>

  <div id="login_box">
    <div id="login_box_elements">
    <form action="/login" method="post">
      <label for="newUser">Enter User Name</label><br>
      <input type="text" name="newUser"><br>
      <button class="btn btn-success">Login</button>
    </form>
    </div>
  </div>
</div>