<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-3 login-box outter-container" >
      <h2 class="roomTitle">CHAT ROOMS</h2>
      <form action="/newUser" method="post" class="text-center">
        <input type="text" name="UserName" placeholder="USERNAME"><br>
        <button class="btn btn-default btn-success" type="submit">Log In</button>
      </form>
    </div>
  </div>
</div>
