<div class="box">
  <div class="box--title">Project Superchat Login</div>
  <div class="box--content">
  <form action="/login" method="POST">
  <input type="text" name="username" id="login" placeholder="Enter Username Here!">
  <input type="submit" value="Submit" method="post">
  </form>
  </div>
</div>
