<div class="container">
  <h1>Log in</h1>
  <form class="" action="/" method="post">
    <div class="form-group row">
      <label for="username" class="col-sm-2 col-form-label"> SUPER USERNAME</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username">
      </div>
    </div>
  </form>
</div>
