
<div class='box' id='submit-box'>
	<form action='/' method='post'>
		<label for='user'>Username</label>
		<input type='text' id='user' name='user'>
		<br>
		<button id='submit-button'>Submit Post</button>
	</form>
</div>
