<div>
  <form action="/login" method="post">
    <label for="newUser">NEW USER</label><br>
    <input type="text" name="newUser"><br>
    <button class="btn btn-primary">Send</button>
  </form>
</div>