<h2>Login to Chat:</h2>
<form action="/login" method="POST">
   {{#if error}}
      {{error}}
   {{/if}}
   <label for="username">Name</label>
   <input name="username" type="text">
   <button type="submit" id="submit-name">Submit name</button>
</form>