<section class='chat-wrapper'>
  <div class='login'>
    <h3>LOGIN</h3>
    <form action='/login' method='post'>
      <h4>Username</h4>
      <input type='text' name='username' placeholder='Enter your username' />
      <button type='submit'>Log In</button>
    </form>
  </div>
</section>
