<div class="login forum-style">
        <div>
            <h3 class="header">Superchat</h3>
            <form action="/login" method="POST">
                <label for="userLogin">Username: </label>
                <input class="form-control" type="text" id="userLogin" name="userLogin" placeholder="Enter Username">
                <input class="btn btn-primary" type="submit" name="submit" value="Login">
            </form>
        </div>
    </div>