<div class="row">


  <div class="col">
  </div>

    <div class="col">

      <div class="chat login">
        <div class="window-title">
          START CHAT
        </div>
        <div class="clear"></div>

        <div class="message-window">
          <form action="/login" method="post">
            <div class="form-group">
              <label class="sr-only" for="username">Username</label>
              <input name="login" id="username" class="form-control" placeholder="...">
              <!-- <input type="text" name="userName" value={{ userName }} hidden> -->
            </div>
            <button type="submit" name="button" class="btn btn-success" method="post">Log In</button>
          </form>
        </div>

      </div>
    </div>

  <div class="col">
  </div>

</div>
