<div class='container'>

  <div class='row'>
    <header>Super Chat</header>
  </div>

<div class="row">
  <form id='login' action="/login" method="post">
    <label>Username</label><input id='userName' type="text" name="userName">
    <input type="submit">
  </form>
</div>

</div>
