<div class="col-xs-3">
    <a href="/newroom">Create a New Room</a>
    <a href="{{rooms.roomname}}"></a>
</div>

<div>
  <form action="/updaterooms" method="post">
    <label for="newRoom">NEW ROOM</label><br>
    <input type="text" name="newRoom"><br>
    <button class="btn btn-primary">Send</button>
  </form>
</div>