<body>
<div class="jumbotron text-center">
  <h1>Super Chat</h1>
</div>

<div class="container">
  <div class="row">
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form method="post" action="/postform">
      <div class="form-group">
        <label for="newName"><div class="newp"><h4>New Username:</h4></div></label>
        <input type="text" class="form-control" name="newName">
      </div>
      <button type="submit" class="btn btn-primary btn-lg" name="">Submit</button>
    </form>
  </div>
</div>
</body>
