<div class="row">
  <div class="eight columns offset-by-two">
    <h3>Please Register</h3>
  </div>
</div>

<div class="row">
  <div class="eight columns offset-by-two">
    <form action="/register" method="POST">
      <label for="username">User Name</label>
      <input class="u-full-width" type="text" placeholder="User Name" id="username" name="username">
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
