	<div class="container">
		<nav class="navbar navbar-dark bg-dark mb-4 mt-4">
			<span class="navbar-brand mt-2 mb-2 pl-2">Super Quick Chat</span>
			<span class="navbar-text">Not Matthew? Sign Out</span>
		</nav>

		<div class="row">
			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">Chat Rooms
					</div>					
					<div class="card-body">

						<div class="list-group">

							<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-2 text-success">Create New Room</h5>
								</div>
								<h6 class="card-subtitle mb-2 text-muted">Start a new chat room!</h6>
							</a>
		          {{#each chatRooms}}
								<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{ this }}</h5>
									</div>
									<small>{{ lookup ../memberCounts this }} members</small>
								</a>
			        {{/each}} 
						</div>

					</div>
				</div> <!-- card --> 

			</div> <!-- col --> 

			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">Cars
					</div>
					<div class="card-body">
						<h5 class="card-title">Matthew</h5>
						<h6 class="card-subtitle mb-2 text-muted">hey thanks guys!</h6> 
						<hr>
						<h5 class="card-title">Mark</h5>
						<h6 class="card-subtitle mb-2 text-muted">That's a good choice. I've also used Paul's Auto Service. They also do super quick smog checks!</h6> 
						<hr>
						<h5 class="card-title">John</h5>
						<h6 class="card-subtitle mb-2 text-muted">Check out Luke's Automotive on Chestnut and Anchorage. Highly recommended!</h6> 
						<hr>
						<h5 class="card-title">Matthew</h5>
						<h6 class="card-subtitle mb-2 text-muted">Anyone know of a good place to take in my 2003 Honda Accord? I live in St. Paul, MN. Thanks!</h6> 
					</div>
				</div>

			</div> <!-- col --> 

			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">New Message
					</div>					
					<div class="card-body">
					<form action="/newMessage" method="post">
						<div class="form-group">
							<textarea class="form-control" id="message" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-success">Send</button>
					</form>
					</div>
				</div>

			</div> <!-- col -->
		</div> <!-- row -->
	</div> <!-- container -->