	<div class="container">
		<nav class="navbar navbar-dark bg-dark mb-4 mt-4">
			<span class="navbar-brand mt-2 mb-2 pl-2">Super Quick Chat</span>
			<span class="navbar-text">Not Matthew? Sign Out</span>
		</nav>
		<div id="loginArea" class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-dark bg-light">Sign in
					</div>					
					<div class="card-body">
						<form id="loginForm" action="/login" method="post">
							<div class="form-group">
								<input id="loginField" type="text" class="form-control" placeholder="Username" autocomplete="off">
							</div>
							<button type="submit" class="btn btn-warning">Continue</button>
						</form>
					</div> <!-- card-body --> 
				</div> <!-- card -->

			</div> <!-- col-md-5 -->
			<div class="col-md-4"></div>
		</div> <!-- row ... loginArea -->

		<div id="chatArea" class="row">
			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">Chat Rooms
					</div>					
					<div class="card-body">

						<div class="list-group">

							<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
								<div class="d-flex w-100 justify-content-between">
									<h5 class="mb-2 text-success">Create New Room</h5>
								</div>
								<h6 class="card-subtitle mb-2 text-muted">Start a new chat room!</h6>
							</a>
		          {{#each chatRooms}}
								<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
									<div class="d-flex w-100 justify-content-between">
										<h5 class="mb-1">{{ this }}</h5>
									</div>
									<small>{{ lookup ../memberCounts this }} members</small>
								</a>
			        {{/each}} 
						</div>

					</div>
				</div> <!-- card --> 

			</div> <!-- col --> 

			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">General
					</div>
					<div class="card-body" id="chatTrail">

						<!-- messages go here -->

					</div>
				</div>

			</div> <!-- col --> 

			<div class="col-md-4">

				<div class="card mb-3">
					<div class="h4 card-header text-white bg-primary">New Message
					</div>					
					<div class="card-body">
					<form id="chatForm" action="/newMessage" method="post">
						<div class="form-group">
							<textarea id="chatField" class="form-control" autocomplete="off" rows="3"></textarea>
						</div>
						<button type="submit" class="btn btn-success">Send</button>
					</form>
					</div>
				</div>

			</div> <!-- col -->
		</div> <!-- row ... chatArea -->
	</div> <!-- container -->