
<h1>Chat Lobby</h1>
<div class="storedName">{{username}}</div>

<div>
  <input type="text" class="roomName" />
  <button class="createRoom"></button>
</div>


<div class="chatrooms">

</div>

<script src="js/lobby_script.js"></script>
