.add-margin {
  margin-top: 20px;
}

.active {
  background-color: #9df;
}

.author {
  font-weight: bold;
  color: green;
}

.scrolling {
  overflow-y: scroll;
  max-height: 50vh;
  min-height: 20vh;
  overflow-x: hidden;
}

.panel-body {
  max-height: 70vh;
  min-height: 40vh;
}

.label {
  font-size: 10px;
}

.room {
  border-top: 2px solid #ccc;
}

.room:first-child {
  border-top: none;
}

.room:hover {
  background-color: #def;
}