body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.box {
  border:1px solid #938c8c;
  margin:5px;
  padding-left:0px;
}

.side-header {
  background-color:#393536;
  border:0px;
  padding:3px;
  margin-left:0px;
  margin-right:30px;
  position:relative;
  left:-1px;
  top:-1px;
}

.darkBG {
  background: #999;
}

.darkerBG {
  background: #666;
}

.darkestBG {
  background: #333;
}

.white {
	color: #FFF;
}
