.add-margin {
  margin-top: 20px;
}

.active {
  background-color: #cef;
}

.author {
  font-weight: bold;
  color: green;
}

.scrolling {
  overflow-y: scroll;
  max-height: 70vh;
  min-height: 40vh;
  overflow-x: hidden;
}

.panel-body {
  max-height: 70vh;
  min-height: 40vh;
}
