.roomTitle {
  background-color:#343A40;
  color:#F4F4F4;
  margin-left: -15px;
  display:inline-block;
  padding: 1%;
}

textarea {
  height:50%;
  width: 100%;
  box-sizing: border-box;
}

.outter-container {
  border: 2px solid black;
  border-radius: 4px;
  height:100%;
}

#submit-button {
  margin-bottom: 10px;
  margin-top: 10px;
}
