@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
body {
	font-family: 'Ubuntu', sans-serif;
}

.chat-container {
	position: relative;
	min-height: 600px;
	max-height: 600px;
}

div#message-container {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
}

div#chatroom-panel {
	height: 100%;
}

section#messages-block {
	overflow-y: scroll;
}

aside#side-nav {
	float: right;
}

div.aside-panel {
	max-height: 50%;
}

.panel-info {
	height: 100%;
}

a {
	color: #00b7ff;
}
