h1 {
  color: white;
}

.navbar-text {
  margin-right: 10px;
  text-align: right;
  font-size: 1.15em;
}

.name {
  color: white;
}

#new-room {
  color: #74b467;
}

.room-name {
  color: #333333;
}

.panel-title {
  display: inline-block;
}
