.all-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-header {
    background-color: darkslategrey;
    width: 100%;
}

.chat-header h1 {
    color: white
}

.content{
    padding: 20px;
}

.room {
    border: 0.5px solid lightgray;
    border-radius: 1px;

    margin: 20px;
}

.message-header {
    display: inline;
    background-color: darkslategrey;
    color: white
}

ul {
    list-style-type: none;
}
li {
    margin: 20px 20px 20px 0;
}

.radio-group{
    position: relative;
}

.radio{
    display:inline-block;
    cursor:pointer;
    margin: 2px 0px 2px 10px; 
}

.radio.selected{
    background-color:lightblue;
    border: 2px solid lightblue;
}

.rooms-header{
    display: inline;
    background-color: darkslategray;
    color: white;
}